body{
    text-align: center;
    background:linear-gradient(120deg,lightyellow,lightblue);
    /* background-image: url("3.jpg"); */
    /* background-repeat:inherit; */
    /* background-position; */
    /* background-attachment: fixed; */
    
    /* background-blend-mode: hue; */

    max-width: 100%;
}

#headersection{
   padding: 5px;
}

#headersection h1{
     font-family: cursive;
}

input{
    padding: 10px;
    border-radius: 5px;
}

#dropbox{
     padding: 10px;
     border-radius: 5px;
     width: 12%;
}

#login_button{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: cornflowerblue;
    color:aliceblue;
}

